<md-button aria-label="Open phone interactions menu" class="md-icon-button" id="left-menu-button">
    <md-icon md-menu-origin md-svg-icon="../img/icons/menu.svg"></md-icon>
</md-button>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <h3>Menu</h3>
    <a href="#/places" ng-click="closeMenu()">Places</a>
    <a href="#/map" ng-click="closeMenu()">Map</a>
</nav>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <h3>User menu</h3>
    <a href="#/Add place" ng-click="closeMenu()">Add new place</a>
    <a href="#/profile" ng-click="closeMenu()">Profile</a>
    <a href="#/logout" ng-click="closeMenu()">Logout</a>
</nav>