@import "../../globals.scss";

.toolbar-container {
  background-color: $tootbar-background;
  color: $white;
  display: flex;
  font-size: 20px;
  letter-spacing: .005em;
  box-sizing: border-box;
  font-weight: 400;
  width: 100%;
  height: 64px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-height: 64px;
  padding: 0 5px;
  margin: 0;

  .title {
    flex-grow: 1;
    text-align: center;
  }

  md-icon {
    fill: $white !important;
  }


}