@import "../../globals.scss";

.place {

  &-author {
    display: flex;
    background-color: $place-toolbar-background;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 16px;
    .avatar {
      width: 40px;
      height: 40px;
      @include circle(20px);
      background-color: $toolbar-background;
    }
    .name {
      flex-grow: 1;
      color: $headers-text;
      margin: auto;
      margin-left: 16px;
    }
    .distance {
      color: $headers-text;
      margin: auto;
    }
  }

  img {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  &-description {
    margin-top: -4px;
    background-color: $white;
    padding: 5px 16px;
    color: $main-text;
    font-size: 1.2em;
    a {
      color: $main-text;
    }
    h3 {
      color: $headers-text;
    }
  }

  &-toolbar {
    display: flex;
    background-color: $place-toolbar-background;
    padding: 10px 16px;
    border-top: 1px solid $line-on-white;
    border-bottom: 1px solid $line-on-white;
    md-icon {
      height: 36px;
      width: 36px;
      color: $menu-background;
      &:nth-child(2) {
        height: 21px;
        width: 21px;
        margin-left: 16px;
      }
      &:active, &:focus {
        outline: none;
      }
    }
    .grow-box {
      flex-grow: 1;
    }
    .likes {
      color: $menu-background;
      font-weight: bold;
      font-size: 1.2em;
      margin: auto;
    }
  }

}