// variables
$toolbar-background: rgb(63,81,181);
$white: rgba(255,255,255,0.87);
$place-toolbar-background: $white;
$description-background: #0d77b6;
$headers-text: #1a2c51;
$main-text: #111111;
$line-on-white: #dedede;
$icons-on-white: $toolbar-background;

// mixins

@mixin circle ($radius) {
  -moz-border-radius: $radius / $radius;
  -webkit-border-radius: $radius $radius;
  border-radius: $radius / $radius;
}