<div class="toolbar-container">
    <div class="tollbar-item left-menu">
        <md-menu md-offset="0 65">
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="">
                        <md-icon md-svg-icon="" md-menu-align-target></md-icon>
                        <a href="#/places">Places</a>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="">
                        <md-icon md-svg-icon=""></md-icon>
                        <a href="#/map">Map</a>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div class="tollbar-item title">Way2day.ru</div>
    <div class="tollbar-item right-menu">
        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
    </div>
</div>